<h1>ログインしてください</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
      <%= form_for(:session, url: login_path) do |f| %>
      
      メールアドレス
      <%= f.email_field :email, class: 'form-control' %>
      
      パスワード
      <%= f.password_field :password, class: 'form-control' %>
      
      <%= f.submit "ログイン", class: "btn btn-primary" %>
      <% end %>
      
      <p>会員登録がまだの方はこちらへ <%= link_to "新規会員登録", signup_path %></p>
  </div>
</div>
