<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
        <%= @user.body %>
      </h1>
    </section>
    <% @user ||= current_user %>
    <div class="stats">
      <%= link_to followings_user_path do %>
        <strong id="following" class="stat">
          <%= @user.following_users.count %>
        </strong>
        フォロー中
      <% end %>
      <%= link_to followers_user_path do %>
        <strong id="followers" class="stat">
          <%= @user.follower_users.count %>
        </strong>
        フォロワー
      <% end %>
    </div>
  </aside>
  <div class="col-md-8">
    <h3>フォロー中(<%= @user.following_users.count %>)</h3>
    <% if @following_users.any? %>
      <% @following_users.each do |user| %>
      <ul class="users">
        <li>
          <%= gravatar_for user, size: 52 %>
          <%= link_to user.name, user %>
          <section>
            <%= user.body %>
          </section>
        </li>
      </ul>
      <% end %>
    <% end %>
  </div>
</div>